.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* ESTILOS GENERALES */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.5rem;
}

/* SECTION HERO */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-imagen-desarrollador {
    
    margin: 20px;
}
.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
    font-family: "Roboto Condensed", sans-serif;
}
.hero-inferior-image{
    width: 30rem;
    height: 30rem;
    border-radius: 10%;
}
/* ABOUT ME */
.aboutMe{
    padding: 3rem;
    background-color: #f5f6f7;
    text-align: center;
}



@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}
@media screen and (min-width: 700px) {
    .hero-inferior-image{
        max-width: 600px;
        
    }
}